.btn {
  padding: 30px 42px 31px;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  align-items: center;
  text-align: center;
  background-color: $color-accent;
  border-radius: 10px;
  border: none;
}

.promo-btn {
  margin-bottom: 214px;

  @media (max-width: $tablet-max) {
    margin-bottom: 190px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 100px;
    font-size: 24px;
    line-height: 33px;
  }

}

.order-btn {
  padding: 34px 146px 36px;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

.catalog-btn {
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 130px;

}

.form-btn {
  display: block;
  align-items: flex-end;
}
