.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  color: $color-white;
  background-color: $color-dark;
}

.header-inner {
  @include inner;

  // @media(max-width: $tablet-max){
  // }
}

.header-wrap {
  display: flex;
  width: auto;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    display: flex;
    flex-wrap: nowrap;
  }
}



.desctop-logo {
  @include logo;


  @media (max-width: $tablet-max) {
    padding-left: $gap-half;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }
}

.header-burger  {

  @media (max-width: $mobile-max) {
    display: none;
    margin-right: $gap;
  }
}


.menu-wrap {
  display: flex;
  flex-wrap: nowrap;
  font-style: $font-open;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.header-menu {
  display: flex;
  list-style: none;

  @media (max-width: $tablet-max) {

  }
}

.header-nav {
  display: block;
  padding: 33px 25px;
  list-style-type: none;
}

.active {
  background-color: $color-accent;
}


.header-burger {
  display: none;

  @media (max-width: $tablet-max) {

  }
}


a {
  text-decoration: none;
}

// a:hover {text-decoration: underline;
// }
