// Fonts
$font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-open: 'Open Sans';

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors
$color-dark: #333333;
$color-accent: #FF2D2D;
$color-white: #fff;

// indents
$gap: 20px;
$gap-half: $gap/2;

// breakpoints
$desktop: 1278px;
$tablet: 768px;
$mobile: 320px;

